In [1]:
import doubletdetection
import pandas as pd

In [2]:
sample = 'Sample5_80_percent'

In [3]:
dat = pd.read_table('/users/lvelten/project/Methylome/analysis/missionbio/tapestri/' + sample + '/tsv/' + sample + '.barcode.cell.distribution.tsv',sep='\t')

In [4]:
clf = doubletdetection.BoostClassifier()
labels = clf.fit(dat).predict()
scores = clf.doublet_score()

  0%|          | 0/25 [00:00<?, ?it/s]

In [5]:
pd.DataFrame(labels).to_csv('/users/lvelten/project/Methylome/analysis/doublet_detection/DoubletDetection_classes.csv')
pd.DataFrame(scores).to_csv('/users/lvelten/project/Methylome/analysis/doublet_detection/DoubletDetection_scores.csv')

In [6]:
dat.head()

,AMPL134157,AMPL134160,AMPL130610,AMPL130611,AMPL130615,AMPL130616,AMPL130625,AMPL134168,AMPL134169,AMPL130630,...,AMPL134386,AMPL134388,AMPL131349,AMPL134390,AMPL131359,AMPL131360,AMPL131361,AMPL131364,AMPL131365,AMPL131367
AGATCTGACATTATGCAG-1,0,47,243,521,0,0,1,17,74,1787,...,0,267,0,16,0,5,1561,492,158,0
CAGCTAGTTCACATGTGC-1,0,47,0,0,1,206,43,0,0,0,...,0,0,9,0,0,0,41,1,0,74
TGAGAGGACCCGGTTCTA-1,0,617,525,1135,0,38,0,2,14,1158,...,0,73,0,18,0,38,574,197,474,33
ACCGACGGTCCTTCGAGC-1,0,971,875,625,0,0,0,17,17,960,...,0,314,0,11,0,21,478,918,326,77
AATCCTCGTCAGCGTAAG-1,174,892,921,817,1,9,1,38,202,1142,...,2,824,5,25,156,70,987,381,426,964